    <footer id="footer" class="footer">
		<p class="copyright">made by <a class="link" href="https://fabricegeib.com">fabrice geib</a></p>
	</footer>
	</div>
	<script src="/js/index.js"></script>
  </body>
</html>