<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= locals.titleHead || 'Express' %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="https://fabricegeib.com/images/favicon.png" type="image/x-icon" />
  </head>
  <body>
	<div id="layout">
	<header id="header" class="header">
		<nav id="nav" class="nav">
			<a class="link" href="/">Home</a>
			<a class="link" href="/download">Download</a>
			<a class="link" href="/html">Html</a>
			<a class="link" href="/api">Api</a>
			<a class="link" href="/users">Users</a>
			<a class="link" href="/500">500</a>
		</nav>
	</header>